# Explore a baseball dataset using Pandas
This is the first day of class. This is also good, clean fun.

The dataset was obtained from [this site](http://www.seanlahman.com/baseball-archive/statistics).

## Now we get to start playing with the code

In [1]:
import pandas as pd

## df stands for Data Frame

In [4]:
df = pd.read_csv('core/People.csv')

In [45]:
df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [23]:
# display(df.head(3))
# display(df.tail(3))
df[['nameGiven', 'weight', 'bats']]
num_right = len(df[df.bats == 'R'])
num_left = len(df[df.bats == 'L'])
num_both = len(df[df.bats == 'B'])
display(num_right, num_left, num_both)
display(num_left / len(df))

11957

5030

1198

0.2596799173980382

## Compute the average weights of left- vs right-handed batters.

In [26]:
display(df[df.bats == 'R'].weight.mean())
display(df[df.bats == 'L'].weight.mean())
display(df[df.bats == 'B'].weight.mean())

188.0363605614747

186.34686495176848

182.11942809083263

In [57]:
df[(df.birthYear > 1990) & (df.nameFirst == 'John')]

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
1641,bormajo01,1993.0,4.0,4.0,USA,VA,Danville,NaN,NaN,NaN,...,Bormann,John William,205.0,72.0,R,R,2017-04-30,2017-04-30,bormj001,bormajo01
3902,curtijo02,1993.0,4.0,5.0,USA,TX,Dallas,NaN,NaN,NaN,...,Curtiss,John Pickens,200.0,76.0,R,R,2017-08-25,2017-09-30,curtj003,curtijo02
5997,gantjo01,1992.0,8.0,6.0,USA,GA,Savannah,NaN,NaN,NaN,...,Gant,John Michael,200.0,75.0,R,R,2016-04-06,2017-09-29,gantj002,gantjo01

# Load batting data

In [58]:
batting = pd.read_csv('core/Batting.csv')

In [62]:
batting.head()
# batting.yearID.unique()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [71]:
batting[batting.yearID == 2014].H.mean()
batting[batting.yearID == 2014]
player = batting[batting.playerID == 'abreujo02']
player['Avg'] = player.H/player.AB
player

/var/folders/54/q8d45jvx1md8zqt_82xjx90h0000gn/T/ipykernel_31150/335866686.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player['Avg'] = player.H/player.AB

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,Avg
98428,abreujo02,2014,1,CHA,AL,145,556,80,176,35,...,3.0,1.0,51,131.0,15.0,11.0,0.0,4.0,14.0,0.316547
99863,abreujo02,2015,1,CHA,AL,154,613,88,178,34,...,0.0,0.0,39,140.0,11.0,15.0,0.0,1.0,16.0,0.290375
101349,abreujo02,2016,1,CHA,AL,159,624,67,183,32,...,0.0,2.0,47,125.0,7.0,15.0,0.0,9.0,21.0,0.293269
102831,abreujo02,2017,1,CHA,AL,156,621,95,189,43,...,3.0,0.0,35,119.0,6.0,15.0,0.0,4.0,21.0,0.304348

In [69]:
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

## Merge (join) the players and batting tables (data frame)

In [73]:
players = df

In [79]:
# display(batting.head())
# display(players.head())
playerHits = pd.merge(players, batting, on='playerID')
playerHits.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
# Find the batting average of left-handed players vs right-handed players
lh = playerHits[playerHits.bats == 'L']
rh = playerHits[playerHits.bats == 'R']
print('left', lh.H.sum() / lh.AB.sum())
print('right', rh.H.sum() / rh.AB.sum())

left 0.2717183018229126
right 0.25683426509843216

## Find the best hitters

In [90]:
top = playerHits.sort_values(by='H', ascending=False)
top[['nameFirst','nameLast','H','yearID']].head(20)

      nameFirst   nameLast    H  yearID
91726    Ichiro     Suzuki  262    2004
86902    George     Sisler  257    1920
69576     Lefty     O'Doul  254    1929
93091      Bill      Terry  254    1930
86570        Al    Simmons  253    1925
50251     Chuck      Klein  250    1930
43351    Rogers    Hornsby  250    1922
17529        Ty       Cobb  248    1911
86904    George     Sisler  246    1922
91723    Ichiro     Suzuki  242    2001
41044      Babe     Herman  241    1930
57929    Heinie     Manush  241    1928
27193     Darin     Erstad  240    2000
8318       Wade      Boggs  240    1985
12227     Jesse    Burkett  240    1896
48639    Willie     Keeler  239    1897
14211       Rod      Carew  239    1977
22657        Ed  Delahanty  238    1899
59420       Don  Mattingly  238    1986
91729    Ichiro     Suzuki  238    2007

In [96]:
temp = playerHits[playerHits.nameFirst == 'John'].groupby('playerID').agg({'H':'sum','AB':'sum'})
temp['Avg'] = temp.H/temp.AB
temp.Avg.mean()

0.18227426711350367

In [97]:
temp = playerHits[playerHits.nameFirst == 'Juan'].groupby('playerID').agg({'H':'sum','AB':'sum'})
temp['Avg'] = temp.H/temp.AB
temp.Avg.mean()

0.19987481664332019